.NewStatus{
    position: relative;
    margin-top: 1rem;
    background-color: white;
    padding: .5rem;
}

.NewStatus-Field {
    margin-top: -19px !important;
    margin-right: 15px !important;
    padding-right: 0 !important;
    width: 250px;
}