.Data-Input-Modal {
    padding: 30px 45px;
    margin: 5px;
}
.Input-Field {
    padding: 5px !important;
    margin: 15px 5px !important;
    cursor: pointer;
}

.Analysis-Info {
    padding: 5px;
    margin: 5px;
}