.States {
    grid-area: states;
    display: flex;
    overflow: hidden;
    padding-bottom: 1rem;
    padding-left: 1rem;
    background-color: #B4BDCB;
    align-items: flex-start;
}

.States > *:not(:last-child) {
    margin-right: 1rem;
}
.States-Wrap {
    overflow-y: auto;
    height: 100%;
}
.States-Prev, .States-Draft, .States-NextState {
    margin-top: 1rem;
    background-color: #fff;
    padding: 10px;
}
.States-PrevWrap {
    width: 350px;

}
.States-Prev {
    height: 500px;
    border-radius: 8px;
}

.States-DraftWrap {
    flex: 1 1 100%;
}
.States-Draft {
    border-radius: 8px;
}

.States-Heading {
    width: 100%;
    text-align: center;
}

.States-NextWrap {
    width: 400px;
}

.States-Next {
    display: flex;
    flex-direction: column;
    height: auto;
    overflow-x: visible;
    overflow-y: scroll;
}
