.PatientInfo{
    grid-area: aside;
    background-color: lightskyblue;
    padding: 1rem 1rem;
}

.PatientInfo-Description,.PatientInfo-History, .PatientInfo-NewStatus{
    margin-top: 1rem;
    background-color: white;
    padding: .5rem;
}
.PatientInfo-Description{
    height: 10rem;
}
.PatientInfo-History{
    height: 20rem;
}

