.NextState{
    min-height: 15rem;
    position: relative;
    border-radius: 4px;
}

.NextState:not(:last-child){
    margin-bottom: 1rem;
}
.NextState-Content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 2rem);

}
.NextState .States-Heading{
    margin: 0;
}
.NextState-Label{
    position: absolute;
    top: -1rem;
    left: -.8rem;
}
