.App {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-rows: max-content 1fr;
    grid-template-columns: 18rem 1fr;
    grid-template-areas: 'header header'
                        'aside states';
}

.menu{
    grid-area: header;
}
